<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="6001029" id="org.oyunkeyf.mobileapp" version="6.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>oyunkeyf</name>
  <description>oyunkeyf.net mobile application</description>
  <content src="index.html"/>
  <access origin="https://oyunkeyf.net"/>
  <access origin="https://*.oyunkeyf.net"/>
</widget>
