@keyframes glow {
  0% {
    box-shadow: 0 0 5px 2px #fff, 0 0 10px 3px #e89000, 0 0 20px 3px #d85000;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 5px 2px #fff, 0 0 10px 3px #e89000, 0 0 20px 3px #d85000;
  }
}

@keyframes answer_glow {
  50% {
    color #000
    background gold
  }
}

@keyframes spinnerRotate {
  100% { transform: rotate(360deg); }
}

@keyframes spinnerDash {
  0%,10% { stroke-dasharray: 1,270; stroke-dashoffset: 0 }
  40% { stroke-dasharray: 89,240; stroke-dashoffset: 0 }
  100% { stroke-dasharray: 1,240; stroke-dashoffset: -110 }
}
  
@keyframes spinnerColor {
  0%,20%,100% { stroke: #487aad }
  30%,45% { stroke: orange }
  50%,70% { stroke: gold }
  75%,90% { stroke: green }
}
  
.spinner
  width 45px
  height 45px
  padding 5px
  margin auto

.spinner svg
  animation: spinnerRotate 1.5s linear infinite;
  
.spinner circle
  stroke #42a5f5
  stroke-width 4
  animation: spinnerDash 1.275s ease-in-out infinite, spinnerColor 5.1s linear infinite;