.content_round
  background #eee
  background-image linear-gradient(to bottom,#d7d7d7 0%,#eee 116px)
  width 100%
  height 100%
  
.og-top
  .display_menu
    position absolute
  
  .playerInfos
    position absolute
    height topPieceHeight
    width 14%

    &.bottom
      left topCenterLeft
      bottom  0%

    &.top
      left topCenterLeft

    &.left
      top 50%
      left 0%

    &.right
      top 50%
      right 0%

.playerUser
  display flex
  align-items center
  justify-content center
  height 100%
  width 100%
  overflow hidden
  text-overflow ellipsis
  font-weight bold
  font-size .7em
  white-space nowrap
  > .status
    margin-right 5px
    vertical-align middle
    &.online
      color green
    &.offline
      opacity 0.6
  > .ongame
    margin-left 5px
    &.yes
      color green
    &.no
      color red

.clock
  position relative
  top -4px
  &.emerg .bar
    background #efaaaa
  & .bar
    position absolute
    width 100%
    height 4px
    background #fff077
    color #444
    & span
      display block
      height 4px
      background #759900

.tableHeader, .player_controls
  .icon-game
    display inline-block
    font-size 33px
    color gold
  .game-title
    display inline-block
    line-height 20px
    margin-left 10px
    text-align left
    text-transform uppercase
  .variant
    padding 7px 0
    text-decoration underline
    &.active
      background-color darken(#fff, 5%)

  
.player_controls
  &.overlay_popup > header
    line-height 1
    padding 10px


.player_controls
  .result
    padding 0 10px
    text-align center
    margin 1em 0
  .resultStatus
    font-size 0.9em