.view-container
  position absolute
  display block
  overflow hidden
  width 100%
  height 100%

main
  position absolute
  height 100%
  width 100%
  background bgdark
  color textDarkBg
  overflow hidden
  

.main_header
  background headerBgDark
  height 50px
  &.board
    background inherit
  > nav
    height 50px
    overflow hidden
    display flex
    justify-content space-between
    > h1
      padding-left 5px
      text-align left
      font-size 1.1rem
      line-height 50px
      color gold
      flex 1 1 auto
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

.main_header_button
  flex 0 0 auto
  background transparent
  padding 10px 0.9rem
  margin 0
  color gold
  font-size 20px
  line-height 20px
  &.fa-bell
    position relative
    top -2px
  &.active
    background lighten(bgdark, 8%)

.back_button
  flex 0 1 auto
  font-size 1.1em
  height 50px
  white-space nowrap
  padding 0
  overflow hidden
  text-overflow ellipsis
  text-align left
  > .title, .fa
    display inline-block
    height 50px
    padding 15px 0 15px 15px
  > span.fa
    font-size 18px
    margin 0
    margin-right 5px
  > .title
    padding-left 0
    padding-right 15px
  &:before
    margin-right 10px
  &.active
    background lighten(headerBgDark, 5%)

.content
  width 100%
  height calc(100% - 50px)
  &.withFooter
    height "calc(100% - 50px - %s)" % footerHeight

.main_footer
  height footerHeight