.og-board
  width 100%
  background-image url('../../images/board/istakain.png')
  background-size 100% 100%

.og-board .wood
  background-image url('../../images/board/istakaside.png')
  background-size cover

.og-table-wrap
  display block