.settings_list
  margin-bottom 15px
  height 100%
  &.general
    margin-bottom 0
    height calc(100% - 40px)

.settingsChoicesInline
  display flex
  flex-flow row wrap
  justify-content space-between
  .nice-radio
    label
      height 30px
    input.radio:empty + label
      line-height 30px
      &:after
        bottom 9px
    input.radio.light:empty + label
      border-radius 0 15px 15px 0
    input.radio.dark:empty + label
      border-radius 15px 0 0 15px
  
.app_version
  padding 10px 15px
  font-size 0.75em
  color darken(#DFDFDF, 10%)

