#userProfile
  display flex
  flex-flow row wrap
  align-content flex-start
  padding 0 10px
  > section
    width 100%
  .userStatus
    position relative
    top 3px
    margin-right 2px
    font-size 1.2em

.onlineStatus, .profile, .userStats
  padding 10px 0