/* SIZES */
topRows = 16
topCols = 20
topPieceWidth = 4%
topPieceHeight = 10%

topCenterLeft = 45%

.content_round
  flex 1 1 auto
  display flex
  flex-flow row nowrap

.game_board_wrapper, .board_wrapper
  height 100vh
  width 100vw
  flex 0 0 auto
  margin auto 0

.game_board_wrapper
  position relative
  flex 0 0 auto
  margin auto

.menu_actions_bar
  display flex
  position absolute
  z-index 4

.playTable
  position absolute
  width 13%
  &.player
    top 65%
    left 45%
  &.opponentLeft
    top 33%
    left 1%
  &.opponentRight
    top 33%
    right 1%
  &.opponentUp
    top 0
    left 45%

.opponentLeft .antagonistUser,
.opponentRight .antagonistUser
  display flex
  flex-flow column nowrap
  text-align center

.antagonistUser
  overflow hidden
  text-overflow ellipsis
  font-size 0.9em
  white-space nowrap
  color textLightGray
  > .status
    font-size 0.9em
    margin-right 5px
    &.ongame
      color green
    &.offgame
      opacity 0.6


.antagonistInfos
  > .bar span.emerg
    background #efaaaa;
  > .bar
    width 100%
    height 4px
    > span
      display block
      height 4px
      background #759900

.game_actions_bar
  display flex
  flex-flow row nowrap
  padding 0
  flex 0 0 footerHeight
  width 100%
  overflow hidden

.game_actions_bar.right
  z-index 4      
  position absolute
  top 65%
  left 10%
  display flex
  flex-flow row nowrap
  justify-content flex-start
  & button
    margin 0 2px
    text-align center
    background gold
    color #fff
    border-radius 0 0 15px 15px
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
    &.active
      background lighten(#fff, 8%)
      color lighten(gold, 40%)
    &.glow
      animation answer_glow 5s infinite
    &.empty
      visibility hidden


.display_board
  width 100%
  height 100%

.actions_bar_vertical
  > .action_bar_vbutton
    width 100%
    background-color gold
    color #fff
    border-radius 15px 0 0 15px
    line-height 1rem
    font-size 1rem
    padding 0
    min-height 30px
    margin 2px 0
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
    &.glow
      animation answer_glow 5s infinite
  
.action_bar_button
  flex 1 1 25%
  text-align center
  background transparent
  outline none
  border none
  color gold
  &:last-child
    border-right none
  &.disabled
    &:before
      opacity 1
    color rgba(gold, 0.4)
  &.active
    background lighten(#fff, 8%)
    color lighten(gold, 40%)
  &.empty::before
    visibility hidden
  &.glow
    animation answer_glow 5s infinite
  &.highlight
    color #fff
    background gold
  &:before
    font-size 1.2em
    line-height 1.2em

.replay
  flex 1 1 auto
  display flex

.content_round .table
  position absolute
  top 0
  width 100%
  height 10%
  display flex
  overflow hidden
  @media only screen and (max-height 400px) and (orientation landscape)
    font-size 0.7rem
    > .tableHeader
      > .menu_button
        display block
      > .icon-game
        font-size 20px
        vertical-align bottom
      > .game-title
        font-size 0.6rem
        line-height 14px

.game_actions_barOLD
  display flex
  justify-content space-around
  padding 0 2px
  height 100%
  width 40%
  overflow hidden

.game_action_bar_button
  flex 1 1 25%
  margin 0 2px
  text-align center
  background gold
  color #fff
  border-radius 0 0 15px 15px
  box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
  &.active
    background lighten(#fff, 8%)
    color lighten(gold, 40%)
  &.glow
    animation answer_glow 5s infinite
  &.empty
    visibility hidden

.game_bar_button
  background transparent
  color gold
  border-radius 50%
  margin 0 2px
  padding 0 12px
  &.glow
    animation answer_glow 5s infinite