.home
  padding-top 5px
  >.stats
    padding 0px 10px
    font-size 1em
    width 100%
    display flex
    flex-flow row nowrap
    justify-content space-between
    >.numPlayers
      flex 0 1 auto
    >.numGames
      flex 0 1 auto
  >.homeCreate
    padding 0px 10px

.homeTitle
  font-weight bold
  text-align center
  margin 10px 0 5xp