.view-container
  position absolute
  display block
  overflow hidden
  width 100%
  height 100%

main
  position absolute
  height 100%
  width 100%
  background bgdark
  color textDarkBg
  overflow hidden
  display flex
  flex-flow column nowrap
  

.main_header
  position relative      
  background headerBgDark
  flex 0 0 headerHeight
  color headerBgDarkColor
  &.board
    background inherit
  > nav
    height 50px
    overflow hidden
    display flex
    justify-content space-between
    > h1
      padding-left 5px
      text-align left
      font-size 1.1rem
      line-height 50px
      color gold
      flex 1 1 auto
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    > .buttons
      flex 0 0 auto
      > .main_header_button
        padding-left 10px
        padding-right 10px
        > .chip
          left 2px
      
.main_header_button
  flex 0 0 auto
  background transparent
  padding 10px 0.9rem
  margin 0
  color gold
  font-size 20px
  line-height 20px
  &.fa-bell
    position relative
    top -2px
  &.active
    background lighten(bgdark, 8%)

.main_header_drop_shadow
  position: absolute;
  left: 0;
  right: 0;
  bottom 0px
  height: 3px
  z-index: 1
  box-shadow 0px 2px 3px -1px rgba(0,0,0,0.5)

.main_header_title
  display flex
  flex-flow row nowrap
  align-items center
  padding-left 10px
  font-size 1.1rem
  line-height headerHeight
  flex 1 1 auto
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.back_button
  flex 0 1 auto
  display flex
  flex-flow row nowrap
  height headerHeight
  font-size 1.1em
  white-space nowrap
  padding 0
  overflow hidden
  text-overflow ellipsis
  text-align left
  > button
    margin 0
    height headerHeight
    padding 0 16px
    > .svg-icon_wrapper
      width 24px
      height 24px
  > .title, .main_header_title
    font-size 1rem
    padding-right 10px
    padding-left 2px
    overflow hidden
    text-overflow ellipsis
    line-height headerHeight
  > .title, .fa
    display inline-block
    height 50px
    padding 15px 0 15px 15px
  > span.fa
    font-size 18px
    margin 0
    margin-right 5px
  > .title
    padding-left 0
    padding-right 15px
  &:before
    margin-right 10px
  &.active
    background lighten(headerBgDark, 5%)

.game_menu_button
  position relative
  &.invisible
    visibility hidden
  &::before
    content ''
    display block
    width 20px
    height 20px
    background #eee
  
.content
  width 100%
  flex 1 1 auto
  display flex
  flex-flow column nowrap
  &.fullScreen
    height 100%

.main_footer
  flex 0 0 footerHeight
  display flex
  flex-flow column nowrap
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);