table.masaList
  width 100%

.empty_masas_list
  width 90%
  margin 0 auto
  text-align center

button#refreshButton
  line-height 45px
  max-height 45px
  font-size 16px

.masa_item
  opacity 0.9

td.masaListName
  text-align left
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  max-width 0
  width 60%
  position relative
  &:first-child
    padding-left 45px
  &:before
    position absolute
    left 8px
    top 21px
    font-size 28px
  > .fullName
    overflow hidden
    text-overflow ellipsis

td.masaListTime
  > .time
    letter-spacing 0px
  padding 10px
  text-align right
  max-width 0
  width 35%

td.masaListNav
  font normal normal normal 14px/1 FontAwesome
  font-size inherit
  text-rendering auto
  -webkit-font-smoothing antialiased
  max-width 0
  width 10%
  text-align right
  padding-right 10px
                
.masaContainer
  & a.pov
    display block
    margin 0 25px 1em
    text-align center
    font-size 1.5em
    position relative
    border-radius 100px
    transition box-shadow 1.5s
    > span
      display block
      font-weight 700
    &.spectator
        border 1px solid gold
  & .glowed
    animation glow 5s infinite;

.masaHeader
  padding 10px
  
.masaInfoRounds
  padding-bottom 5px
  border-bottom 1px solid #2c2c2c

.masaCreatorInfo
  font-size 0.85em
  padding-top 5px

.masaInfo
  &:before
    content: attr(data-icon)

.masaSeats
  display flex
  flex-direction column
  align-items center
  > .middle
    display flex
    align-items center
    height 80px
    > .table
      height 100px
      width 100px

.masaSeat
  margin 5px
  height 36px
  width 100px
  background #fff
  border-radius 2px
  transition .13s
  text-align center
  display flex
  align-items center
  justify-content center
  &.empty
    background gold
    color #fff
  &:not(.empty)
    background #fff
    color gold
    &.me
      color #d59120
  
.masaLeaderboard
  display flex
  flex-flow column nowrap

p.masaTitle
  text-align left
  font-weight bold
  color gold
  padding-left 10px
  margin 10px 0 5px

table.masaStandings
  width 100%

td.masaPlayer
  padding 10px
  text-align left
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  max-width 0
  width 80%

.list_item.me
  >td.masaPlayer
    border-left 10px solid #d59120
    padding-left 5px

td.masaPoints
  padding 10px
  text-align right
  max-width 0
  width 20%

.progress
  &.positive
    color green
  &.negative
    color red

.masaFaq
  padding 10px
  h2
    font-weight bold
    font-size 1.1em
    margin-bottom 5px
    &:not(:first-child)
      margin-top 15px

.podium
  display flex
  flex-flow row nowrap
  font-size 0.75em
  margin 0 10px
  align-items flex-end
  justify-content center
  > div
    overflow hidden
    text-overflow ellipsis
    display flex
    flex-flow column nowrap
    justify-content flex-end
    > div
      margin 0 auto
      text-align center
    > .trophy
      min-height 0 //chrome 48 bug workarond
      margin-bottom 5px

.place1
  width 44%
  font-size 1.25em
  > .trophy
    width 75%
    content: url('../../images/trophies/trophy-1.png')

.stats
  font-size .7em
  margin 0 auto