borderLightGray = darken(bglight, 15%)
activeBgLight = darken(themeBgLight, 8%)

.view-container.light
  main
    color textLightBg

  .main_header
    color textLightBg
    background-color themeBgLightHeader
    border-bottom 1px solid darken(themeBgLightHeader, 5%)

  #page
    background themeBgLight
    color textMediumGray

  #side_menu
    background bglight
    .login
      color textLightBg
      background borderLightGray
      &.active
        background lighten(borderLightGray, 10%)

  .side_menu_header
    background #fff
    > .username
      color textLightBg

  .side_links .hr
    border-color textLightGray

  .sep_link
    color textMediumGray

  .side_link
    color textDarkGray
    &.active
      background darken(themeBgLight, 5%)

  .back_button
    > button.active
      background themeBgLightActive


  #games_menu
    background rgba(0,0,0,0.6)

  .fatButton
    background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
    text-shadow 0 1px 0 #fff
    color #848484
    border-color #e2e2e2
    &.active
      background linear-gradient(to bottom,rgba(248,248,248,1) 0%,rgba(243,243,243,1) 100%);

  .button
    &.active
      background activeBgLight

  input[type=checkbox]
    background #aaa
    &:checked
      background gold

  .overlay, .menu-close-overlay
    background-color rgba(0,0,0,0.6)

  .card
    background themeBgLight
    box-shadow 0px 2px 15px 0 rgba(0,0,0,0.5)
    .icon-game
      border-color themeBgLight
    h2
      color textDarkGray

  .list_item
    border-bottom-color borderLightGray
    &.active
      background-color darken(bglight, 5%)

  .ranking
    border-bottom-color borderLightGray

  .playTable
    color textDarkGray

  .playerInfos
    .rating
      color textMediumGray
    &.active
      background-color activeBgLight

  .action_bar_button
    color textGray
    &.disabled
      color rgba(textGray, 0.4)
    &.glow
      animation answer_glow_light 5s infinite
    &.highlight
      background textLightGray
      color themeBgLight
    &.active
      background darken(themeBgLight, 8%)

  .main_header
    box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)

  .radio-list
    input.radio:checked + label
      background-color darken(bglight, 10%)

  .profilePerf
    &.active
      background darken(bglight, 5%)
    > .rating
      color textDarkGray
      > .nb
        color textLightBg
    > .name
      color textDarkGray

  #searchPlayerModal
    > header
      color textMediumGray
      border-bottom 1px solid borderLightGray
    > .modal_content
      color textMediumGray
      background-color themeBgLight
    .list_item
      border-bottom-color borderLightGray
      &.active
        background-color darken(bglight, 5%)


  .tabs
    background-color headerBgDark
    margin-top -1px

  .tab
    height 45px

  .tabIndicator
    height 3px

  .navigationButton
    border-color borderLightGray

  .homeMoreButton
    > button
      background darken(bglight, 5%)
      &.active
        background darken(bglight, 2%)

  #masaPlayerInfoModal
    > header
      background-color #fff
      color textMediumGray
      border-bottom 1px solid borderLightGray
      > .playerModalHeader
        color textMediumGray
    > .modal_content
      color textMediumGray
      background-color themeBgLight